OLLAMA_URL={{ prompt_optimizer_ollama_url }}
OLLAMA_MODEL={{ prompt_optimizer_model }}
PROMPT_OPTIMIZER_PROFILE={{ prompt_optimizer_profile }}
PROMPT_OPTIMIZER_INSTALL_DIR={{ prompt_optimizer_install_dir }}
PROMPT_OPTIMIZER_DATA_ROOT={{ prompt_optimizer_data_root }}
PROMPT_OPTIMIZER_INPUT_DIR={{ prompt_optimizer_input_dir }}
PROMPT_OPTIMIZER_OUTPUT_DIR={{ prompt_optimizer_output_dir }}
PROMPT_OPTIMIZER_ARCHIVE_DIR={{ prompt_optimizer_archive_dir }}
PROMPT_OPTIMIZER_REPO_DIR={{ prompt_optimizer_repo_dir | default(prompt_optimizer_data_root + '/repo') }}
PROMPT_OPTIMIZER_LOG_DIR={{ prompt_optimizer_log_dir | default(prompt_optimizer_data_root + '/logs') }}
PROMPT_OPTIMIZER_UI_HOST={{ prompt_optimizer_ui_host | default('0.0.0.0') }}
PROMPT_OPTIMIZER_UI_PORT={{ prompt_optimizer_ui_port | default('8080') }}
PROMPT_OPTIMIZER_MAX_UPLOAD_MB={{ prompt_optimizer_max_upload_mb | default('20') }}
PROMPT_OPTIMIZER_NTFY_URL={{ prompt_optimizer_ntfy_url | default('') }}
PROMPT_OPTIMIZER_NTFY_TOPIC={{ prompt_optimizer_ntfy_topic | default('') }}
